.container {
  max-width: 500px;
  margin: 0 auto;
}

.sectionDivider {
  border-top: 1px solid var(--gray-a6);
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
